---
- name: Install container runtime for Kubernetes
  hosts: all
  become: true
  gather_facts: true
  tasks:
    - name: Install required packages
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - containerd
        state: present
        update_cache: true
