**/*.idea/*
**/.ipynb_*
**/.terraform*
**/tfplan
**/*terraform.tfstate*
**/env.sh
**secrets.yaml
**secrets.yml
**.ansible
**.vscode
**_site
**.sass-cache
**.jekyll*
**.bundle
**vendor
**Gemfile.lock
**.DS_Store
**.continue
**.zip
