kubeProxyReplacement: true
k8sServiceHost: 127.0.0.1
k8sServicePort: '6443'
ingressController:
  enabled: true
  default: true
  service:
    type: LoadBalancer
operator:
  replicas: 1
hubble:
  relay:
    enabled: true
    replicas: 1
  ui:
    enabled: true
    replicas: 1
ipam:
  mode: kubernetes
gatewayAPI:
  enabled: true

